<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%vinit.map(e=>{%>
        <%=e.name%><br>
        <%=e.email%><br>
        ====================================<br>
   <% })%>
</body>
</html>